
<div class="container">
    <div class="sign">
      <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 well well-sm">
              <legend> 
                 <h2>    
                <i class="glyphicon glyphicon-education"> </i>
                      Contacter le service clientèle 
             </h2>
            </legend>
              <form action="#" method="post" class="form" role="form">
            
        
         <div class="row">
                  <div class="col-xs-6 col-md-6">
                      <input class="form-control" name="firstname" placeholder="Prénom" type="text"
                          required autofocus />
                  </div>
                  <div class="col-xs-6 col-md-6">
                      <input class="form-control" name="lastname" placeholder="Nom" type="text" required />
                  </div>
              </div>
          
              <input class="form-control" name="youremail" placeholder="Votre Email" type="email" />
             <textarea class="form-control" rows="8" cols="50" name="Message" placeholder="Message..."></textarea>
          
             
             
              <button class="btn btn-lg btn-primary btn-block" 
              style="background-color: rgb(122, 175, 22);border-color: rgb(122, 175, 22) " type="submit">
                  <b>Envoyer</b> </button>
              </form>
          </div>
      </div>
    </div>
  </div>
   