<div class="col-md-4" style="margin-bottom: 4%" >
    <div class="card-content">
        <div class="card-img">
            <img src={{obj.photo}} alt="">
            <span><h4>{{obj.niveau}}</h4></span>
        </div>
        <div class="card-desc">
            <h3>{{obj.titre}}</h3>
            <p>{{obj.tuteur.nom}} {{obj.tuteur.prenom}}</p>
            <star-rating direction="rtl"  labelText="({{obj.note}}) {{obj.rate}}" [showHalfStars]="true" [readOnly]="true" [starType]="'svg'" [rating]="toString(obj.rate)"></star-rating>
         
            <h4>Prix : {{obj.prix}} MAD</h4>
            <br/>
               <button type="button" class="btn-card" data-toggle="modal" [attr.data-target]="'#' + obj.idCours"><i class="fa fa-search"></i> Aperçu rapide</button>
                
        </div>
    </div>
</div>

<div class="modal fade cours_view"  [attr.id]="toString(obj.idCours)">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <a href="#" data-dismiss="modal" class="class pull-right"><span class="glyphicon glyphicon-remove"></span></a>
                    <h3 class="modal-title">{{obj.titre}}</h3>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6 product_img">
                            <img src="{{obj.photo}}" class="img-responsive">
                        </div>
                        <div class="col-md-6 product_content">
                            <h4>Id Cours: <span>{{obj.idCours}}</span></h4>
                            <div class="rating">
                            <star-rating direction="rtl"  labelText="({{obj.note}}) {{obj.rate}}" [showHalfStars]="true" [readOnly]="true" [starType]="'svg'" [rating]="toString(obj.rate)"></star-rating>
         
                            </div>
                            <p>{{obj.detailsCours}} </p>
                            <h3 class="cost">{{obj.prix}} MAD </h3>
                     
                            <div class="space-ten"></div>
                     
                          
                            

                        </div>  
                    </div>
                    <br/>
                 
                     <!-- table of seances-->
                     <div class="row">
                            <div style="margin-left: 1%;margin-right: 1%;">
                                    <div style="border-bottom: 1px solid #e5e5e5;"></div>
                                <legend> 
                                        <h2 style="text-align: center">    
                                       <small><i class="glyphicon glyphicon-list "> </i></small>
                                         Liste des séances
                                    </h2>
                                   </legend>
                                    <div class="panel panel-default">
                                      <table class="table table-hover">
                                        <tbody>
                                            <tr>
                                                <th>Date séance</th>
                                                <th>Emplacement</th>
                                                <th>Description</th>
                                                <th>Type</th>

                                            </tr>
                                            <tr *ngFor="let seance of obj.seances">
                                                <td>
                                                  <span class="glyphicon glyphicon-file"></span>
                                                  {{seance.dateSeance}}
                                                </td>
                                                <td>
                                                      {{seance.emplacement}}
                                                </td>
                                                <td>
                                                        {{seance.description}}
                                                </td>
                                                <td>
                                         <div   *ngIf="seance.type == 1; else elsecondition">
                                                    <p style="color: red">(Individuel)</p>
                                                    </div>
                                                 
                                                    <ng-template #elsecondition>
                                                        
                                                            <div class="" data-toggle="buttons">
                                                                    <label class="btn btn-lg btn-success ">
                                                                            <input type="radio" name="options" id="option1" autocomplete="off" checked>
                                                                            <i class="fa fa-group"></i> Groupe
                                                                     </label>      
                                                                    <label class="btn btn-lg btn-info active">
                                                                        <input type="radio" name="options" id="option2" autocomplete="off" >
                                                                        <i class="fa fa-male"></i> Individuel
                                                                    </label>
                                                                        
                                                                </div>

                                                    </ng-template>  
                                                      
                                                </td>
                                                <td class="text-right text-nowrap">
                                                    <button  (click)="btnClick()" class="btn btn-xs btn-info">Reserver séance</button>
                                
                                                </td>
                                              </tr>
                                              
                                        </tbody>
                                      </table>
                                    </div>
                                    </div>
                        </div>
                </div>
            </div>
        </div>
    </div>
