
<div>
<div id="flipkart-navbar">
       
        <div class="row">
            <div class="col-sm-2">
                <img src="assets/images/logo.png" width="180" length="80"/>
            </div>
            <div class="col-sm-10">
                    <div class="row">
                            <ul class="largenav">
                                <li class="upper-links"><a class="links" href="">Link 1</a></li>
                                <li class="upper-links"><a class="links" href="">Link 2</a></li>
                                <li class="upper-links"><a class="links" href="">Link 3</a></li>
                                <li class="upper-links"><a class="links" href="">Link 4</a></li>
                                <li class="upper-links"><a class="links" href="">Link 5</a></li>
                             </ul>
                        </div>
                        <div class="row">
                            <div class="navbar-search smallsearch col-sm-5">
                                <div class="row">
                                    <input class="flipkart-navbar-input col-xs-11" type=""
                                    placeholder="Chercher un cours, un tuteur ..." name="">
                                    <button class="flipkart-navbar-button col-xs-1">
                                        <svg width="15px" height="15px">
                                            <path d="M11.618 9.897l4.224 4.212c.092.09.1.23.02.312l-1.464 1.46c-.08.08-.222.072-.314-.02L9.868 11.66M6.486 10.9c-2.42 0-4.38-1.955-4.38-4.367 0-2.413 1.96-4.37 4.38-4.37s4.38 1.957 4.38 4.37c0 2.412-1.96 4.368-4.38 4.368m0-10.834C2.904.066 0 2.96 0 6.533 0 10.105 2.904 13 6.486 13s6.487-2.895 6.487-6.467c0-3.572-2.905-6.467-6.487-6.467 "></path>
                                        </svg>
                                    </button>
                                </div>
                            </div>
                            <div class="col-sm-7">
                                <div class="row">
                                        <div class="col-md-12">
                                                <div class="collapse navbar-collapse" id="navbar-collapse-1">
                                                        <ul class="nav navbar-nav ">
                                                          <li><a href="#">Home</a></li>
                                                          <li><a href="#">About</a></li>
                                                          <li><a href="#">Services</a></li>
                                                           <li><a [routerLink]="['/contactUs']">Contact</a></li>
                                                           <li class="upper-links">
                                                                <a class="btn btn-primary btn-outline btn-circle" 
                                                                style="background-color: rgb(122, 175, 22); border-color: rgb(122, 175, 22);" 
                                                                 data-toggle="collapse" href="#nav-collapse1"
                                                                 [routerLink]="['/creation-compte']" ><b>S'INCRIRE</b></a>
                                                              </li>
                                                              
                                                              <li class="upper-links">
                                                                    <a class="btn btn-default btn-outline btn-circle" 
                                                                    style="color: rgb(122, 175, 22);border-color: rgb(122, 175, 22);"
                                                                     data-toggle="collapse" href="#nav-collapse1" 
                                                                       [routerLink]="['/login']"  ><b>SE CONNECTER</b></a>
                                                                  </li>
                                                        </ul>
                                                        </div>
                                        </div>
                                    
                                </div>
                                    
                            </div>
                        </div>
                           
            </div>
        </div>
        <br/>
</div>

</div>