<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
<div class="containerstep" >
    <ul class="progressbar">
      <li class="active">Informations personnelles</li>
      <li >  <span class="rotated">Motivations</span></li>
      <li><span class="rotated">Questions</span></li>
       <li><span class="rotated">Créer un cours</span></li>
    </ul>
  </div>
<div class="container">
    <h2>Lettre de motivation</h2>
    <p>Insérer votre lettre de motivation ici !</p>
    <form role="form">
        <div class="form-group">
            <textarea class="form-control" rows="8" id="comment"></textarea>
        </div>
        <div class="form-group col-lg-3 col-lg-offset-4">
            <button [routerLink]="['/questions']"  class="btn"><b>Suivant</b> <i class="fa fa-angle-double-right"></i></button>
      </div>
    </form>
</div>
<br/><br/><br/><br/>  <br/><br/><br/>
