
<div class="container">
  <div class="sign">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 well well-sm">
            <legend> 
               <h2>    
              <i class="glyphicon glyphicon-education"> </i>
                 Commencer les services de tutorat
           </h2>
          </legend>
            <form action="#" method="post" class="form" role="form">
            <div class="row">
			<div class="col-xs-12 col-md-12">
			<div class="type">
        <span style="font-size: 180%">Vous êtes :&nbsp;&nbsp;&nbsp;</span>
				<input type="radio" id="radio1" name="radios" value="all" checked>
				<label class="labl" for="radio1">Etudiant</label>
				<input type="radio" id="radio2" name="radios"value="false">
				<label  class="labl" for="radio2">Tuteur</label>
			  </div>
			 </div> 
			</div>
			
		   <div class="row">
                <div class="col-xs-6 col-md-6">
                    <input class="form-control" name="firstname" placeholder="Prénom" type="text"
                        required autofocus />
                </div>
                <div class="col-xs-6 col-md-6">
                    <input class="form-control" name="lastname" placeholder="Nom" type="text" required />
                </div>
            </div>
            <input class="form-control" name="youremail" placeholder="Votre Email" type="email" />
            <input class="form-control" name="password" placeholder="Votre mot de passe" type="password" />
            <input class="form-control" name="repasse" placeholder="Confirmer mot de passe" type="pass" />
            <input class="form-control" name="tel" placeholder="Votre Téléphone" type="text" />
            <label for="">
                Date de naissance</label>
            <div class="row">
                <div class="col-xs-4 col-md-4">
                    <select class="form-control">
                        <option value="Day">jours</option>
                    </select>
                   
                </div>
                <div class="col-xs-4 col-md-4">
                    <select class="form-control">
                        <option value="Month">Mois</option>
                    </select>
                </div>
                <div class="col-xs-4 col-md-4">
                    <select class="form-control">
                        <option value="Year">Année</option>
                    </select>
                </div>
            </div>
            <div class="row">

                <div class="col-xs-8 col-md-8">
                    <select class="form-control">
                        <option value="Homme">Homme</option>
                        <option value="Homme">Femme</option>
                    </select>
                </div>
            </div>
            <br />
           
            <div class="row">
                <div class="col-xs-6 col-md-6">
                    <select class="form-control">
                        <option value="domaine">Féliere</option>
                    </select>
                </div>
                <div class="col-xs-6 col-md-6">
                    <select class="form-control">
                        <option value="niveau">Niveau</option>
                    </select>
                </div>
            </div>
            <button class="btn btn-lg btn-primary btn-block" 
            style="background-color: rgb(122, 175, 22);border-color: rgb(122, 175, 22) " type="submit">
                <b>Créer un compte</b> </button>
            </form>
        </div>
    </div>
  </div>
</div>
 