<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
<div class="containerstep" >
  <ul class="progressbar">
    <li >Informations personnelles</li>
    <li> <span class="rotated">Motivations</span></li>
    <li><span class="rotated">Questions</span></li>
     <li><span class="rotated">Créer un cours</span></li>
  </ul>
</div>

<div class="container">
    <form role="form">
        <div class="row setup-content">
            <div class="container-page">				
                <div class="col-md-6">                  
                  <div class="form-group col-lg-12">
                    <label>Nom Complet<span style="color: red;font-weight: bold;font-size: 140%;"> *</span></label>
                    <input type="" name="" class="form-control" id="" value="" placeholder="Votre Nom">
                  </div>
                 
                    <div class="form-group col-lg-12">
                        <label>Email<span style="color: red;font-weight: bold;font-size: 140%;"> *</span></label>
                        <input type="" name="" class="form-control" id="" value="" placeholder="Votre Email">
                      </div>
                      <div class="form-group col-lg-12">
                          <label>R-Email<span style="color: red;font-weight: bold;font-size: 140%;"> *</span></label>
                          <input type="" name="" class="form-control" id="" value="" placeholder="Confirmer votre Email">
                        </div>
                        <div class="form-group col-lg-12">
                            <label>Téléphone<span style="color: red;font-weight: bold;font-size: 140%;"> *</span></label>
                            <input type="" name="" class="form-control" id="" value="" placeholder="Votre Téléphone">
                          </div>
                          <div class="form-group col-lg-12">
                              <label>Photo<span style="color: red;font-weight: bold;font-size: 140%;"> *</span></label>
                              <input type="file" name="" class="form-control" id="" value="" placeholder="Votre photos">
                            </div>
                
                </div>
              
                <div class="col-md-6">  
                  <h3>Parlez-Nous de vous</h3>                 
                  <p>
                   <img src="assets/images/img.png"/>
                  </p>
 
                  <div class="form-group col-lg-8">
                  <button [routerLink]="['/motivation']" class="btn"><b>Suivant</b> <i class="fa fa-angle-double-right"></i></button>
                  </div>
                </div>
              </div>    
        </div>
    </form>
</div>