.containerstep
{
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  position: fixed;
  top:95px;
  left: 0px;
  z-index:6;
  background-color: white;
}


.progressbar {
  counter-reset: step;
}
@media screen and (min-width: 600px) {
  .progressbar li
  {
    font-size: 15px;

  }
}
.progressbar li {
  list-style-type: none;
  width: 24%;
  float: left;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  color: #7d7d7d;
  font-family:monospace;
  font-weight: bold;

}
.progressbar li:before {

  width: 30px;
  height: 30px;
  content: "\2713";
  counter-increment: step;
  line-height: 30px;
  border: 3px solid #7d7d7d;
  display: block;
  text-align: center;
  margin: 0 auto 10px auto;
  border-radius: 50%;
  background-color: white;

}
.progressbar li:after {

  width: 100%;
  height: 4px;
  content: '';
  position: absolute;
  background-color: #7d7d7d;

  top: 15px;
  left: -50%;
  z-index: -1;
}
.progressbar li:first-child:after {
  content: none;
}

.progressbar li.active {
  color: rgb(122, 175, 22);

}
.progressbar li.active:before {
  border-color: rgb(122, 175, 22);
  color: white;
  background-color: rgb(122, 175, 22);

}
.progressbar li.active + li:after {
  background-color: rgb(122, 175, 22);
}

.btn
{
  background-color:rgb(122, 175, 22);
  color :white;
  width: 100%;
}