     
     <div class="banner">
     <div class="container">
          <div class="row">
              <div class="col-md-6">
                  <h1> <span class="slogon">S<span style="color: black">2</span>S</span>
                  <span class="name">"Student To Student"</span>
                  </h1>
                  <h2>La façon la plus rapide et flexible pour rencontrer votre tuteur.</h2>
              </div>
              <div class="col-md-6" style="padding-top: 1%;">
                  <video width="500" height="280" controls poster="assets/images/s2s.jpg">
                      <source src="assets/videos/Learning.mp4" type="video/mp4">
                                  Your browser does not support the video tag.
                    </video>
           
              </div>
            </div>
      </div>
    </div>