
<div class="container">
    <div class="sign">
      <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 well well-sm">
              <legend> 
                 <h2 style="text-align: center">    
                <small><i class="glyphicon glyphicon-book "> </i></small>
                  Créer un cours
             </h2>
            </legend>
              <form action="#" method="post" class="form" role="form">
                  
            
             <label for="">Titre<span style="color: red;font-weight: bold;font-size: 140%;"> *</span></label>
              <input class="form-control" name="titre" placeholder="Entrez un titre du cours" type="text" />
              <label for="">Catégorie<span style="color: red;font-weight: bold;font-size: 140%;"> *</span></label>
              <select class="form-control">
                    <option value="maths">Mathématique</option>
                    <option value="maths">Physique</option>
                    <option value="maths">Informatique</option>
                    <option value="maths">Infographie</option>

                </select>    
                <label for="">sous-catégorie<span style="color: red;font-weight: bold;font-size: 140%;"> *</span></label>
                <select class="form-control">
                        <option value="maths">Analyse numérique</option>
                        <option value="maths">Algèbre</option>
                        <option value="maths">Probabilité&statistique</option>
                        
                  </select>              
             <label for="">Vidéo<span style="color: red;font-weight: bold;font-size: 140%;"> *</span></label>
              <input class="form-control" name="repasse" placeholder="Confirmer mot de passe" type="file" />
              <label for="">Déscription<span style="color: red;font-weight: bold;font-size: 140%;"> *</span></label>
              <div class="form-group">
                    <textarea class="form-control" rows="6" id="comment"></textarea>
                </div>
              <br />
              <button class="btn btn-lg btn-primary btn-block" 
              style="background-color: rgb(122, 175, 22);border-color: rgb(122, 175, 22) " type="submit">
                  <b>Créer un cours</b> </button>
              </form>
          </div>
      </div>
    </div>
  </div>
   