
<br/><br/><br/><br/><br/><br/>
<div class="container">
	<div class="row">

		<section class="content">
			<h1>{{size}} résultats pour {{motCle}}</h1>
			<div class="col-md-8 col-md-offset-2">
				<div class="panel panel-default">
					<div class="panel-body">
						<div class="pull-right">
							<div class="btn-group">
								<button type="button" class="btn btn-success btn-filter" >cours</button>
								
							</div>
						</div>
						<div class="table-container">
							<table class="table table-filter">
								<tbody>
									<tr class="cours" *ngFor="let obj of cours" >
										
										<td>
											<div class="media">
												<a href="#" class="pull-left">
													<img src={{obj.photo}} class="media-photo">
												</a>
												<div class="media-body">
													<span class="media-meta pull-right"><star-rating  labelText="({{obj.note}}) {{obj.rate}}" [showHalfStars]="true" [readOnly]="true" [starType]="'svg'" [rating]="toString(obj.rate)"></star-rating></span>
													<h4 class="title">
														{{obj.titre}}
														
													</h4>
													<p class="summary">
														Par {{obj.tuteur.nom}} {{obj.tuteur.prenom}} 
														<br/>
														<span style="font-size: 12px;margin:0;padding:10px 5px;line-height: 0;">Prix : {{obj.prix}} MAD</span>
												
													</p>
												</div>
											</div>
										</td>
									</tr>
							
								</tbody>
							</table>
						</div>
					</div>
				</div>
				
			</div>
		</section>
		
	</div>
</div>